<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>EthBox</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/owl.carousel.min.css' %}">  
    <!-- Favicons -->
    <link href="{% static 'dashboard/img/favicon.svg' %}" rel="icon">
    <!-- animations CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/animate.min.css' %}">  
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/font-awesome.min.css' %}"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">  
    <!-- mobile menu CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/slicknav.min.css' %}"> 
    <!--css animation-->
    <link rel="stylesheet" href="{% static 'landing/css/animation.css' %}"> 
    <!--css animation-->
    <link rel="stylesheet" href="{% static 'landing/css/material-design-iconic-font.min.css' %}"> 
    <!-- style CSS --> 
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}"> 
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/responsive.css' %}"> 
  </head>
  <body>
    <!--header area start-->
    <div class="header-area wow fadeInDown header-absolate" id="nav" data-0="position:fixed;" data-top-top="position:fixed;top:0;" data-edge-strategy="set">
        <div class="container">
            <div class="row">
                <div class="col-4 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
                <div class="col-4 col-lg-2">
                    <div class="logo-area">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-bounding-box" viewBox="0 0 16 16">
                                <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2H5zm6 1v2h2v6h-2v2H5v-2H3V5h2V3h6zm1-2h3v3h-3V1zm3 11v3h-3v-3h3zM4 15H1v-3h3v3zM1 4V1h3v3H1z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-lg-8 d-none d-lg-block">
                    <div class="main-menu text-center">
                        <nav>
                            <ul id="slick-nav">
                                <li><a class="scroll" href="#home">home</a></li>
                                <li><a class="scroll" href="#about">About</a></li>
                                <li><a class="scroll" href="#roadmap">Roadmap</a></li>
                                <li><a class="scroll" href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-4 col-lg-2 text-right">
                    <!-- <a href="#" class="logibtn gradient-btn">login</a> -->
                    <h1 style="display: inline-block;">EthBox</h1>
                </div>
                
            </div>
        </div>
    </div>
    <!--header area end-->

    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 align-self-center">
                    <div class="welcome-right">
                        <div class="welcome-text">
                             <h1> A blockchain-based solution for efficient and secure video-KYC</h1>
                            <h4>Blockchain is a technological tour de force.
                                - Bill Gates</h4>
                        </div>
                        <div class="welcome-btn">
                            <a href="dashboard" class="gradient-btn v2 mr-20">Login for Banks</a>
                            <a href="#" class="gradient-btn v2">Watch Demo Video</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="welcome-img">
                        <img src="{% static 'landing/img/welcome-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--welcome area end-->

    <!--about area start-->
    <div class="about-area wow fadeInUp" id="about">
        <div class="space-30"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>Technology we are using</h5>
                    </div>
                    <div class="space-30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel owl-carousel text-center">
                        <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img width="120" height="60" style="padding: 10px 10px 10px 10px;" src="{% static 'landing/img/eth_white.png' %}" alt="">
                            </div>
                        </div>
                        <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img width="120" height="60" style="padding: 10px 10px 10px 10px;" src="{% static 'landing/img/django_white.png' %}" alt="">
                            </div>
                        </div>
                        <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img width="120" height="60" style="padding: 10px 10px 10px 10px;" src="{% static 'landing/img/ethscan_logo.png' %}" alt="">
                            </div>
                        </div>
                        <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img width="120" height="80" style="padding: 10px 10px 10px 10px;" src="{% static 'landing/img/infura_logo.png' %}" alt="">
                            </div>
                        </div>
                        <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img width="120" height="60" style="padding: 10px 10px 10px 10px;" src="{% static 'landing/img/heroku_logo.png' %}" alt="">
                            </div>
                        </div>
                        <!-- <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img src="{% static 'landing/img/c-logo-3.png' %}" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="space-90"></div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="about-mid-img">
                        <img src="{% static 'landing/img/about-left.png' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 align-self-center">
                    <div class="heading">
                        <h5>We are providing</h5>
                    </div>
                    <div class="about-mid-text">
                        <h1>A Platform for fast and secure vKYC solutions for all financial institutions of India</h1>
                        <div class="space-10"></div>
                        <p>With our backed supported by ethereum network, we can provide a fast way to do KYC for clients, especially in times of COVID, when there can't be regular KYC. We can power you up with vKYC, which will auto-verify the users already verified by other institutions, giving you the power to speed up.</p>
                    </div>
                    <div class="space-30"></div>
                    <a href="#" class="gradient-btn v2 about-btn"> <i class="fa fa-send-o"></i> join us on telegraph</a>
                </div>
            </div>
        </div>
        <div class="space-90"></div>
    </div>
    <!--about area end-->

    <!--single about area start-->
    <div class="single-about-area wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="{% static 'landing/img/about-icon-1.png' %}" alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Fast Opportunity</h4>
                            <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="{% static 'landing/img/about-icon-2.png' %}" alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Secure solution</h4>
                            <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="{% static 'landing/img/about-icon-3.png' %}" alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Trust worthy</h4>
                            <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="space-90"></div>
    </div>
    <!--single about area end-->

    <!--ico area start-->
    <!--ico area end-->

    <!--Documentation area start-->
    <!--Documentation area end-->
    
    <!--distibution-bg start-->
    <!--distibution-bg end-->

    <!--roadmap area start-->
    <div class="roadmap-area section-padding wow fadeInUp" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>history Timeline</h5>
                        <div class="space-10"></div>
                        <h1>Development Roadmap</h1>
                    </div>
                    <div class="space-60 d-none d-sm-block"></div>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="roadmap-carousel owl-carousel">
                <div class="roadmap-item">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="{% static 'landing/img/roadmap-1.png' %}" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>23.12.2021</p>
                            <div class="space-10"></div>
                            <h5>Concept and Research</h5>
                            <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p> -->
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="{% static 'landing/img/roadmap-2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>01.01.2022</p>
                                    <h5>Starting project</h5>
                                    <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="{% static 'landing/img/roadmap-4.png' %}" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>07.01.2022</p>
                            <div class="space-10"></div>
                            <h5>Core Development</h5>
                            <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p> -->
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="{% static 'landing/img/roadmap-5.png' %}" alt="">
                                </div>
                        
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>15.01.2022</p>
                                    <h5>Main Development</h5>
                                    <!-- <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--roadmap area end-->

    <!--team-bg-->
    <!--team bg area end-->

    <!--community area start-->
    <div class="community-area wow fadeInUp section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>GReat Community</h5>
                        <div class="space-10"></div>
                        <h1>Our Community </h1>
                    </div>
                <div class="space-60"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg">
                    <div class="single-community big-social">
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community mid-social">
                        <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="single-community">
                        <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community">
                        <a class="github" href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="single-community mid-social">
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community big-social">
                        <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community mid-social">
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="single-community">
                        <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--community area end-->

    <!--footer area start-->
    <div class="footera-area section-padding wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <div class="logo-area footer">
                            <!-- <a href="#"><img src="{% static 'landing/img/logo-top.png' %}" alt=""></a> -->
                        </div>
                        <div class="space-20"></div>
                        <!-- <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific architects called giant larvaceans. </p> -->
                        <div class="space-10"></div>
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            This template is made with 
                            <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-footer">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Roadmap</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="single-footer">
                        <ul>
                            <!-- <li><a href="#">White Paper</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">APP</a></li>
                            <li><a href="#">FAQ</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>Reach out to us</p>
                        <div class="space-20"></div>
                        <div class="footer-form">
                            <form action="#">
                                <input type="email" placeholder="Email Address">
                                <a href="" class="gradient-btn subscribe">GO</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area end-->

    <!-- jquery 2.2.4 js-->
    <script src="{% static 'landing/js/jquery-2.2.4.min.js' %}"></script>  
    <!-- popper js-->
    <script src="{% static 'landing/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static 'landing/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static 'landing/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>\
    <!--skroller js-->
    <script src="{% static 'landing/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static 'landing/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static 'landing/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static 'landing/js/main.js' %}"></script>
  </body>
</html>